<div class="container pt-5 bg-transparent">
    <h1>Learn, Cook, Eat Your Food</h1>
    <div class="container w-100  pt-4">
        <ul class="d-flex gap-4 ">
            <li><a routerLink="All" routerLinkActive="active">All</a></li>
            <li><a routerLink="Beef" routerLinkActive="active">Beef</a></li>
            <li><a routerLink="BreakFast" routerLinkActive="active">Breakfast</a></li>
            <li><a routerLink="Checken" routerLinkActive="active">Checken</a></li>
            <li><a routerLink="Dessert" routerLinkActive="active">Dessert</a></li>
            <li><a routerLink="Goat" routerLinkActive="active">Goat</a></li>
            <li><a routerLink="Lamb" routerLinkActive="active">Lamb</a></li>
            <li><a routerLink="Pasta" routerLinkActive="active">Pasta</a></li>
            <li><a routerLink="SeaFood" routerLinkActive="active">SeaFood</a></li>
            <li><a routerLink="Vegan" routerLinkActive="active">Vegan</a></li>
            <li><a routerLink="Vegetarian" routerLinkActive="active">Vegetarian</a></li>
            <li><a routerLink="Side" routerLinkActive="active">Side</a></li>
            <li><a routerLink="Starter" routerLinkActive="active">Starter</a></li>
           
        </ul>
    
    </div>
</div>
