<div class=" pt-4">
    <section class="p-4 d-flex justify-content-between ">
        <div style="font-family: 'Comic Neue', serif; " class="left d-flex gap-3 ">
            <img style="width: 50px;" src="logo-BfNap0Pe.png" alt="">
            <span style="font-size: 24px; font-weight: 900;" >Recipe</span>
        </div>
        <div style="font-family: 'Comic Neue', serif; " class="right d-flex gap-3 ">
            <span style="font-size: 24px; font-weight: 900;color: blue;" >Route</span>
        </div>
    </section>
    <section style="border-top: solid 0.01rem #6b72905c;" class="p-4 text-center d-flex align-items-center justify-content-center ">
       
                   <span style="font-family: 'Comic Neue', serif;color:#6B7290 ;font-weight: 700; " >© 2025 Mohamed Salama. All Rights Reserved.</span> 
   

    </section>
</div>
