<div style="position: relative;" class="container">
    <div  style="position:fixed;margin-top:65vh;">
       
        <div class="pic">
            <img class="w-100" src="logo-BfNap0Pe.png" alt="">
        </div>
        <div class="contain w-100">
            <ul class="ps-2">
                <li routerLink="All" class="active">
                    <a ><i class="fa-solid fa-utensils"></i><span>Meals</span></a>
                </li>
                <li>
                    <a ><i class="fa-solid fa-utensils"></i><span>Ingredients</span></a>
                </li>
                <li>
                    <a ><i class="fa-solid fa-utensils"></i><span>Area</span></a>
                </li>
            </ul>
        </div>
    </div>
  

</div>
